# cscope
cscope.files
cscope.in.out
cscope.out
cscope.po.out

# ctags
TAGS

# kernel binaries
kernel.bin
symbols.dbg
wenix.dbg
wenix.img
wenix.iso
.iso/*

gdb-commands

# Empty target stuff
empty-target
